/* Change automcomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 300px #295d8a inset !important;
}

.App {
  text-align: center;
}

.center{
  display: flex;
  justify-content: center;
}

.container {
  background-color: #295d8a;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}